@model IEnumerable<ClothX.DbModels.ProductCategory>

@{
	ViewData["Title"] = "Index";
}

<div class="row">
	<div class="col-md-6 col-sm-12 col-12">
		<h1><b>Order Types Offered</b></h1>
	</div>
	<div class="col-md-6 col-sm-12 col-12" style="display: flex; justify-content: flex-end;align-items:center ">
		<a data-toggle="modal" class="btn btn-primary" data-target="#ProductCategoryModal" onclick="addProductCategory(0)">Create New</a>
	</div>
</div>
<div id="addDiv"></div>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActive)
				</td>
				<td>
					<a data-toggle="modal" class="btn btn-secondary" data-target="#ProductCategoryModal" onclick="addProductCategory(@item.Id)">Edit</a> |

					@if(item.IsActive==true)
					{
						<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					}
					else
					{
						<a class="btn btn-success" asp-action="Delete" asp-route-id="@item.Id">Activate</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function addProductCategory(id) {
		$.ajax({
			type: "Get",
			url: "/ProductType/AddEdit",
			data: { Id: id },
			success: function (result) {
				$("#addDiv").html(result);
				$("#ProductCategoryModal").modal('show');
			}
		})
	}
</script>